.section {
    padding: 50px 80px;
    position: relative;
}

#loginBlock {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-100%);
    transition: all 1s ease-out;
    opacity: 1;
}
#loginBlock > img {
    height: 120px;
}

#banner {
    height: calc(100vh - 70px);
    background: url(/Assets/Images/banner4.jpg) center/cover;
    overflow: hidden;
    border-radius: 0 0 var(--bdr-rad) var(--bdr-rad);
}
#banner > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
#banner > div > h1 {
    font-size: 45px;
    color: white;
}
#banner > div > a {
    font-size: 28px;
}
#ads {
    margin: 30px 100px;
    padding: 40px 80px;
    background: linear-gradient(to right, rgb(50, 100, 230), rgb(40, 160, 255));
    border-radius: var(--bdr-rad);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--shadow);
}
#ads > div:first-child {
    display: flex;
    align-items: center;
}
#ads > div:first-child > span:first-child {
    font-size: 150px;
    font-weight: bold;
    color: white;
    display: inline-block;
    line-height: 1;
    margin-right: 40px;
    position: relative;
}
#ads > div:first-child > span:first-child::after {
    content: "%";
    font-size: .3em;
    position: absolute;
    bottom: 20px;
    right: -20px;
    width: 55px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
#ads > div:first-child > span:last-child {
    font-size: 30px;
    color: white;
    width: 300px;
}
#ads > div:last-child > i {
    font-size: 120px;
    color: gold;
    cursor: pointer;
}
#ads > div:last-child > i:hover {
    scale: 1.1
}
#ads > div:last-child > i:active {
    scale: 0.9
}

#cities > div {
    display: grid;
    grid-template-columns: calc(100% / 5 - 12px) calc(100% / 5 - 12px) calc(100% / 5 - 12px) calc(100% / 5 - 12px) calc(100% / 5 - 12px);
    column-gap: 15px;
    row-gap: 45px;
}
#cities > div > div {
    border-radius: var(--bdr-rad);
    box-shadow: var(--shadow);
    cursor: pointer;
    background-color: white;
    transition: all .5s ease;
}
#cities > div > div:hover {
    transform: translateY(-15px);
}
#cities > div > div > div.img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: var(--bdr-rad);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#cities > div > div > div.content {
    padding: 10px 20px;
}
#cities > div > div > div.content > h2 {
    margin-top: 5px;
    margin-bottom: 0;
}
#cities > div > div > div.content > p {
    margin-top: 0;
}
@media only screen and (max-width: 1100px) {
    #cities > div {
        grid-template-columns: calc(100% / 3 - (15px - (15px / 3))) calc(100% / 3 - (15px - (15px / 3))) calc(100% / 3 - (15px - (15px / 3)));
    }
}