header {
    background-color: #fafafa;
    padding: 15px 30px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
}
header > div.section {
    width: calc(100% / 3 - 20px);
    height: 100%;
}
header > div#left > h1 {
    margin: 0;
}
header > div#center > input {
    margin: 0;
    font-size: large;
    padding: 10px 20px;
    border-radius: var(--bdr-rad);
    width: 100%;
    height: 100%;
    box-shadow: var(--shadow);
}
header > div#center > input::placeholder {
    color: var(--lt-text-color);
}
header > div#center > input:focus::placeholder {
    color: transparent;
}
header > div#right {
    height: 100%;
}
header > div#right > ul {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header > div#right > ul > li {
    display: inline-block;
    aspect-ratio: 1/1;
    height: 100%;
    padding: 5px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: var(--bdr-rad);
}
header > div#right > ul > li:hover {
    background-color: white;
    box-shadow: var(--shadow);
    scale: 1.05;
}
header > div#right > ul > li:active {
    scale: 0.95;
}
header > div#right > ul > li:hover > i {
    font-weight: bold !important;
}
header > div#right > ul > li:hover > i.fa-circle-user {
    color: rgb(250, 150, 50);
}
header > div#right > ul > li:hover > i.fa-bookmark {
    color: rgb(240, 100, 100);
}
header > div#right > ul > li:hover > i.fa-message {
    color: rgb(100, 210, 240);
}

#banner {
    text-align: center;
    background: url(/Assets/Images/banner.jpg) no-repeat center fixed;
    background-size: cover;
}
#banner > div {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 70px 20px;
}
#banner h1 {
    color: white;
    font-size: calc(var(--default-ft-sz) + 25px);
}
#main {
    padding: 80px 200px;
    text-align: center;
    box-shadow: 0 0 20px 0 #0003;
    display: none;
    position: relative;
}
#main > p#meaning {
    margin-top: 50px;
    text-align: left;
}
#main::before {
    content: "\f518";
    font-family: "Font Awesome 6 Free";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    aspect-ratio: 1/1;
    color: var(--secondary-color);
    font-size: 5em;
    position: absolute;
    top: -80px;
    font-weight: 700;
    background-color: white;
    border-radius: 100%;
    left: calc(50% - (160px / 2));
    box-shadow: 0 10px 15px #0001;
}
#main > h1#word {
    font-size: 40px;
    margin-bottom: 0;
}
#main > button#save {
    position: absolute;
    top: 107px;
    font-size: 25px;
    padding: 8px 0;
    width: 50px;
    border-radius: var(--bdr-rad);
    text-align: center;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    background-color: white;
    box-shadow: var(--shadow);
}
#main > button#save:hover {
    scale: 1.1;
}
#main > button#save:active {
    scale: 0.9;
}

#ourFeature {
    padding: 60px 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#ourFeature > div {
    padding: 30px;
    background-color: white;
    width: calc(50% - 10px);
    border-radius: var(--bdr-rad);
    box-shadow: var(--shadow);
}
#ourFeature > div:hover {
    scale: 1.05;
    transform: rotateZ(-1deg);
    cursor: pointer;
}

#introduce {
    padding: 50px 160px;
}
#introduce > div {
    display: flex;
    align-items: center;
}
#introduce > div > p {
    width: 55%;
    padding: 0 30px 0 0;
}
#introduce > div > h1 {
    width: 45%;
    text-align: center;
    font-size: 60px;
    user-select: none;
}