#voiceMenu {
    position: fixed;
    bottom: 20px;
    left: 12.5px;
    z-index: 1;
    width: 320px;
    pointer-events: none;
}
#voiceMenu * {
    pointer-events: initial;
}
#voiceMenu > div {
    background-color: white;
    box-shadow: var(--high-shadow);
    padding: 30px;
    width: 100%;
    border-radius: var(--bdr-rad);
    transform: translateX(calc(-100% - 12.5px));
    transition: transform .4s ease;
}
#voiceMenu > div#active {
    transform: none;
}
#voiceMenu > div > h4 {
    margin: 0 0 15px;
}
#voiceMenu > button.btn {
    height: 50px;
    aspect-ratio: 1/1;
    padding: 0;
    margin-top: 12.5px;
}
#voiceMenu > button.btn#off {
    background-color: white;
    color: var(--title-color);
}
#voiceMenu > button.btn#off:hover {
    color: var(--main-color);
}
#voiceMenu > button.btn#off:active {
    color: var(--main-color);
    background-color: #f0f0f0;
}

#main {
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    flex-direction: column;
}
#main > #chatArea {
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 60px 30px 75px;
    height: calc(100% - 210px);
    margin-top: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}
#main > #chatArea > p.text {
    text-align: center;
}
#main > #chatArea > p.chat {
    margin: 10px 0;
    font-size: calc(var(--default-ft-sz) + 2px);
    padding: 15px 25px;
    border-radius: var(--bdr-rad);
    box-shadow: var(--shadow);
    max-width: 60%;
    transition: all .5s ease;
}
#main > #chatArea > p.chat.user {
    align-self: flex-end;
    background-color: white;
}
#main > #chatArea > p.chat.response {
    background-color: var(--main-color);
    color: white;
    align-self: start;
}
#main > #chatArea > p.chat.response > button.copy {
    position: absolute;
    top: -49px;
    left: 0;
    background-color: #555;
    color: white;
    opacity: 0;
    padding: 10px 20px;
    border: 0;
    border-radius: var(--bdr-rad);
    cursor: pointer;
    font-size: var(--default-ft-sz);
    transition: all .2s linear, top 0s linear;
}
#main > #chatArea > p.chat.response > button.copy:hover {
    background-color: #777;
}
#main > #chatArea > p.chat.response > button.copy:active {
    background-color: #444;
}
#main > #chatArea > p.chat.response > span.load {
    display: inline-block;
    height: 10px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 100%;
    animation: beat 4s ease infinite;
}
#main > #chatArea > p.chat.response > span.load + span.load {
    margin-left: 10px;
    animation: beat 4s ease .25s infinite;
}
#main > #chatArea > p.chat.response > span.load + span.load + span.load {
    animation: beat 4s ease .5s infinite;
}
#main > #chatArea > p.chat.response:hover > button.copy {
    opacity: 1;
}
#main > textarea#input {
    padding: 30px 50px;
    font-size: calc(var(--default-ft-sz) + 3px);
    width: calc(100% - 150px);
    height: 180px;
    box-shadow: var(--shadow);
}
#main > button#send {
    padding: 10px 40px;
    position: absolute;
    bottom: 35px;
    right: 90px;
    overflow: hidden;
    height: 50px;
}
#main > button#send > i {
    animation: spin .75s linear infinite;
}
#main > p#error {
    position: absolute;
    color: red;
    bottom: 25px;
    left: 105px;
    user-select: none;
}

#introduce {
    width: 100%;
    height: calc(100vh - 70px);
    background: linear-gradient(to right bottom, rgb(255, 192, 0), rgb(0, 176, 240));
    display: flex;
    justify-content: center;
    align-items: center;
}
#introduce > #wrapper {
    height: 70%;
    aspect-ratio: 5/3;
    border-radius: var(--bdr-rad);
    display: flex;
    overflow: hidden;
}
#introduce > #wrapper {
    height: 70%;
    aspect-ratio: 5/3;
    border-radius: var(--bdr-rad);
}
#introduce > #wrapper > div#left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 45%;
    background-color: rgba(255, 255, 255, 0.75);
}
#introduce > #wrapper > div#left > img {
    width: 60%;
}
#introduce > #wrapper > div#right {
    height: 100%;
    width: 55%;
    padding: 30px;
    background-color: white;
    position: relative;
}
#introduce > #wrapper > div#right > button.btn {
    width: calc(100% - 60px);
    position: absolute;
    bottom: 30px;
}

@keyframes beat {
    0% {scale: 1}
    15% {scale: 1.5}
    30% {scale: 1}
    50% {opacity: 1}
    65% {opacity: .5}
    80% {opacity: 1}
    100% {}
}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}