#main {
    height: calc(100vh - 90px);
}
#main > #chatArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 100px;
    height: calc(100% - 200px);
    overflow-y: auto;
}
#main > #chatArea p {
    margin: 10px 0;
    font-size: calc(var(--default-ft-sz) + 3px);
    padding: 20px 25px;
    border-radius: var(--bdr-rad);
    box-shadow: var(--shadow);
    max-width: 60%;
    transition: all .5s ease;
    white-space: wrap;
}
#main > #chatArea p.user {
    background-color: var(--tertiary-color);
    align-self: flex-end;
}
#main > #chatArea p.response {
    background-color: var(--main-color);
    color: white;
    align-self: start;
}
#main > textarea#input {
    padding: 30px 100px;
    font-size: calc(var(--default-ft-sz) + 4px);
    width: 100%;
    height: 200px;
    border-radius: initial;
}
#main > button#send {
    padding: 10px 40px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
}
#main > button#send:hover {
    color: var(--main-color);
    background-color: white;
}

#introduce {
    padding: 100px 180px 10px;
    width: 100%;
}
#introduce > h1 {
    text-align: center;
    position: relative;
    margin-top: 100px;
    font-size: calc(var(--default-ft-sz) + 20px);
}
#introduce > h1 > i {
    font-size: calc(var(--default-ft-sz) + 150px);
    position: absolute;
    color: rgba(255, 255, 255, 0.1);
    z-index: -1;
    top: -50px;
    left: 0;
    width: 100%;
}