#banner {
    text-align: center;
    background: url(/Assets/Images/banner3.jpg) no-repeat center fixed;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 90px);
}
#banner > div {
    background: linear-gradient(to bottom, rgba(11, 25, 43, 0.5) 60%, rgba(11, 25, 43, 0.6) 70%, rgba(11, 25, 43, 0.9) 90%, rgba(11, 25, 43, 1) 100%) ;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner h1 {
    color: white;
    font-size: calc(var(--default-ft-sz) + 25px);
    height: fit-content;
}
.section-wrapper {
    padding: 60px 120px;
}
.section-wrapper#quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-wrapper#quote > div#icon {
    background: url(/Assets/Icons/ceo.jpg) center/cover;
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 150px;
    box-shadow: 0 10px 10px 0 #0005;
}
.section-wrapper#quote > p {
    font-size: calc(var(--default-ft-sz) + 5px);
    position: relative;
    text-align: center;
}
.section-wrapper#quote > p::before {
    content: "\f10d";
    font-weight: bold;
    font-size: 25px;
    font-family: "Font Awesome 6 Free";
    position: absolute;
    top: 10px;
    left: -50px;
}
.section-wrapper#quote > p::after {
    content: "\f10e";
    font-weight: bold;
    font-size: 25px;
    font-family: "Font Awesome 6 Free";
    position: absolute;
    top: 10px;
    right: -50px;
}
.section-wrapper#products {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-wrapper#products > div {
    display: grid;
    gap: 30px;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    margin-top: 60px;
    width: 100%;
}
.section-wrapper#products > h1 {
    font-size: calc(var(--default-ft-sz) + 24px);
    text-align: center;
}
.section-wrapper#products > div > div {
    background-color: var(--tertiary-color);
    border-radius: var(--bdr-rad);
    padding: 40px;
    height: 300px;
    box-shadow: var(--shadow);
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    position: relative;
}
.section-wrapper#products > div > div:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
}
.section-wrapper#products > div > div:first-child::after {
    content: "Beta";
    padding: 10px 30px;
    font-size: calc(var(--default-ft-sz) + 6px);
    color: white;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 156.28px;
    border-radius: 0 0 var(--bdr-rad) 0;
    box-shadow: 0 0 5px 2px #0002;
}
.section-wrapper#products > div > div:hover {
    scale: 1.025;
}
.section-wrapper#products > div > div:active {
    scale: 0.975;
}
.section-wrapper#products > div > div.premium::before {
    content: "Premium";
    padding: 10px 30px;
    font-size: calc(var(--default-ft-sz) + 6px);
    color: white;
    background-color: goldenrod;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--bdr-rad) 0 var(--bdr-rad) 0;
    box-shadow: 0 0 5px 2px #0002;
}
.section-wrapper#products > div > div.premium:first-child:before {
    border-radius: var(--bdr-rad) 0 0 0;
}
.section-wrapper#products > div > div > h1 {
    margin-bottom: 0;
    max-width: 75%;
}
.section-wrapper#products > div > div > p {
    margin-top: 0;
    max-width: 50%;
}
.section-wrapper#products > div > div > img {
    height: 200px;
    position: absolute;
    right: 40px;
    bottom: -30px;
}
.section-wrapper#products > div > div:first-child > img {
    height: calc(100% - 100px);
    position: absolute;
    top: 50px;
    right: 100px;
}