#wrapper {
    display: flex;
    height: calc(100vh - 90px);
    justify-content: center;
    align-items: center;
}
#wrapper > #loginForm, #wrapper > #signupForm {
    width: 400px;
    padding: 50px;
    background-color: #f7f7f7;
    box-shadow: var(--high-shadow);
    border-radius: var(--bdr-rad);
}
#wrapper > #loginForm > h2, #wrapper > #signupForm > h2 {
    margin-top: 0;
}
#wrapper > #loginForm > input, #wrapper > #signupForm > input {
    display: block;
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: var(--bdr-rad);
    box-shadow: var(--low-shadow);
}
#wrapper > #loginForm > a, #wrapper > #signupForm > a {
    display: block;
    color: var(--text-color);
    cursor: pointer;
    width: fit-content;
    margin: 0 0 30px 15px;
    font-size: var(--default-ft-sz);
}
#wrapper > #loginForm > button.submit, #wrapper > #signupForm > button.submit {
    margin-top: 0;
}