:root {
    --main-color: rgb(65, 150, 255);
    --lt-main-color: rgba(227, 239, 255);
    --bg-color: rgb(245, 250, 255);
    --title-color: rgb(90, 90, 90);
    --text-color: rgb(150, 150, 150);
    --lt-text-color: rgb(170, 170, 170);
    --bdr-rad: 15px;
    --default-ft-sz: 18px;
    --low-shadow: 0 1px 2px 0 #0002;
    --shadow: 0px 3px 5px 0 #0002;
    --high-shadow: 0px 8px 12px 0 #0002;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito';
    transition: all .2s ease;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}

body {
    background-color: var(--bg-color);
    max-width: 100%;
}
body * {
    opacity: 0;
    transform: translateX(-20px);
}
::-webkit-scrollbar {
    width: 15px;
    border-radius: 10px;
    background-color: white;
}
body::-webkit-scrollbar {
    border-radius: 0px;
}
::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border: 3px solid white;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-color);
}
::-webkit-scrollbar-button:single-button:vertical:decrement, ::-webkit-scrollbar-button:single-button:vertical:increment, ::-webkit-scrollbar-button:single-button:horizontal:decrement, ::-webkit-scrollbar-button:single-button:horizontal:increment {
    background-color: lightgray;
    border: 3px solid white;
    border-radius: 100%;
}
::-webkit-scrollbar-button:single-button:vertical:decrement:hover, ::-webkit-scrollbar-button:single-button:vertical:increment:hover, ::-webkit-scrollbar-button:single-button:horizontal:decrement:hover, ::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
    background-color: var(--main-color);
}

a {
    text-decoration: none;
    color: var(--main-color);
}
h1, h2, h3, h4, h5, h6 {
    margin: 25px 0;
    color: var(--title-color);
}
ul {
    list-style: none;
}
p, span {
    color: var(--text-color);
    font-size: var(--default-ft-sz);
}
p {
    margin: 15px 0;
}
h6 {
    font-size: calc(var(--default-ft-sz) + 2px);
}
h5 {
    font-size: calc(var(--default-ft-sz) + 4px);
}
h4 {
    font-size: calc(var(--default-ft-sz) + 6px);
}
h3 {
    font-size: calc(var(--default-ft-sz) + 8px);
}
h2 {
    font-size: calc(var(--default-ft-sz) + 10px);
}
h1 {
    font-size: calc(var(--default-ft-sz) + 12px);
}
hr {
    border: none;
    height: 3px;
    background-color: #ddd;
    margin: 60px 0;
    border-radius: 2px;
}

span.key {
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid var(--text-color);
    cursor: default;
}

div#loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: white;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: initial;
    transform: none;
}
div#loading > img {
    height: 20%;
    animation: reveal 1s ease;
}
div#loading > i {
    font-size: 40px;
}
div#loading::before {
    content: "\f1ce";
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    position: absolute;
    bottom: 70px;
    font-size: calc(var(--default-ft-sz) + 20px);
    color: var(--main-color);
    opacity: .75;
    animation: spin .75s linear infinite;
    opacity: 0;
    transition: opacity .2s ease;
}
div#loading.true::before {
    opacity: 1;
}

div#apis {
    margin-top: 100px;
    border-radius: var(--bdr-rad);
    background-color: var(#f1f1f1);
    padding: 50px;
    box-shadow: var(--shadow);
    background-color: white;
}
div#apis > h1 {
    margin-top: 0;
}
div#apis > div#list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div#apis > div#list > div {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: var(--lt-main-color);
    border-radius: var(--bdr-rad);
    box-shadow: var(--shadow);
}
div#apis > div#list > div + div {
    margin-top: 15px;
}
div#apis > div#list > div > img {
    height: 60px;
    border-radius: 100%;
    margin-right: 20px;
    box-shadow: var(--shadow);
}

button.btn {
    padding: 10px 30px;
    font-size: calc(var(--default-ft-sz) + 3px);
    color: white;
    background-color: var(--main-color);
    border-radius: var(--bdr-rad);
    cursor: pointer;
    border: none;
    margin-top: 20px;
    box-shadow: var(--shadow);
}
button.btn + button.btn {
    margin-left: 10px;
}
button.btn:hover {
    background-color: white;
    color: var(--main-color);
}
button.btn:active {
    background-color: var(--lt-main-color);
    color: var(--main-color);
}

textarea, input, select {
    resize: none;
    font-size: var(--default-ft-sz);
    border: none;
    color: var(--title-color);
    border-radius: var(--bdr-rad);
    box-shadow: var(--shadow);
    padding: 10px 15px;
}
select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

div.select-wrapper {
    max-width: 100%;
    position: relative;
}
div.select-wrapper::after {
    content: "\f107";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    aspect-ratio: 13/12;
    height: calc(100% - 3px);
    top: 0;
    right: 0;
    background-color: var(--lt-main-color);
    color: var(--main-color);
    border-radius: 0 var(--bdr-rad) var(--bdr-rad) 0;
    font-weight: bold;
    font-family: "Font Awesome 6 Free";
    pointer-events: none;
    padding-top: 3px;
}
textarea::placeholder, input::placeholder {
    color: var(--text-color);
}
textarea:focus::placeholder, input:focus::placeholder {
    color: transparent;
}

footer {
    background-color: var(--main-color);
    padding: 20px 30px;
    opacity: 1 !important;
    transform: initial;
    margin-top: 80px;
}
footer > p {
    color: white;
    text-align: center;
    opacity: 1 !important;
    transform: initial;
    margin: 0;
}
.active {
    opacity: 1;
    transform: initial;
}

header {
    background-color:  white;
    padding: 10px 50px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: var(--shadow);
}
header > div.section {
    width: calc(100% / 3 - 20px);
    height: 100%;
}
header > img {
    height: 65%;
    -webkit-user-drag: none;
}
header > ul {
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header > ul * {
    color: var(--text-color);
}
header > ul > li {
    display: inline-block;
    height: 100%;
    padding: 5px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--default-ft-sz);
    cursor: pointer;
    position: relative;
    user-select: none;
}
header > ul > li::before {
    content: "";
    display: block;
    height: 4px;
    width: calc(100% - 40px);
    background-color: var(--main-color);
    position: absolute;
    bottom: 2px;
    border-radius: 2px;
    transition: all .2s ease;
    opacity: 0;
}
header > ul > li[data-visible="pack.html"] {
    font-size: 25px;
}
header > ul > li#account {
    margin-left: 30px;
}
header > ul > li#account > img {
    height: 70%;
}
header > ul > li#account > h6 {
    font-size: var(--default-ft-sz);
}
header > ul > li:hover {
    color: var(--title-color);
}
header > ul > li[data-visible="pack.html"]:hover * {
    color: goldenrod;
}
header > ul > li:hover::before, header > ul > li.currentPage::before {
    width: calc(100% - 20px);
    opacity: 1;
}
header > ul > li:active::before {
    width: calc(100% - 30px);
    opacity: 1;
    transition: all .075s linear;
}

@keyframes reveal {
    0% {transform: rotateZ(20deg); scale: 200; opacity: 0;}
    50% {transform: rotateZ(-5deg); scale: 0.75; opacity: 1;}
    60% {transform: rotateZ(5deg); scale: 1.25; opacity: 1;}
    75% {transform: rotateZ(-2.5deg); scale: .875; opacity: 1;}
    85% {transform: rotateZ(1deg); scale: 1.0625; opacity: 1;}
    90% {transform: rotateZ(-0.5deg); scale: 1.025; opacity: 1;}
    95% {transform: rotateZ(0.25deg); scale: .975; opacity: 1;}
    100% {transform: none; scale: 1; opacity: 1;}
}
@keyframes spin {
    0% {transform: rotateZ(0)}
    100% {transform: rotateZ(360deg)}
}