#banner {
    text-align: center;
    background: url(/Assets/Images/banner3.jpg) no-repeat center fixed;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 90px);
}
#banner > div {
    background: linear-gradient(to bottom, rgba(11, 25, 43, 0.5) 60%, rgba(11, 25, 43, 0.6) 70%, rgba(11, 25, 43, 0.9) 90%, rgba(11, 25, 43, 1) 100%) ;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner h1 {
    color: white;
    font-size: calc(var(--default-ft-sz) + 25px);
    height: fit-content;
}
.section-wrapper {
    padding: 60px 120px;
}
.section-wrapper#quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-wrapper#quote div#icon {
    background: url(/Assets/Icons/smiling\ old\ man.jpg) center/cover;
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 150px;
    box-shadow: 0 10px 10px 0 #0005;
}
.section-wrapper#products > div {
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto;
    margin-top: 60px;
}
.section-wrapper#products > h1 {
    font-size: calc(var(--default-ft-sz) + 24px);
    text-align: center;
}
.section-wrapper#products > div > div {
    background-color: var(--tertiary-color);
    border-radius: var(--bdr-rad);
    padding: 40px;
    height: 300px;
    box-shadow: var(--shadow);
    cursor: pointer;
    overflow: hidden;
    user-select: none;
}
.section-wrapper#products > div > div:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
}
.section-wrapper#products > div > div:first-child::before {
    content: "Beta";
    padding: 10px 30px;
    font-size: calc(var(--default-ft-sz) + 6px);
    color: white;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--bdr-rad) 0 var(--bdr-rad) 0;
    box-shadow: 0 0 5px 2px #0002;
}
.section-wrapper#products > div > div:hover {
    scale: 1.025;
}
.section-wrapper#products > div > div:active {
    scale: 0.975;
}
.section-wrapper#products > div > div > h1 {
    margin-bottom: 0;
}
.section-wrapper#products > div > div > p {
    margin-top: 0;
}